.sell-push {
    display: flex;
    justify-content: flex-start;
    margin: 8px 7px 10px 0 px;
}
.sell-push_fav{
    display: block;
    margin: 2px 7px 10px 0 px;

}
/* это удалить*/
.container_1{
    margin-left: 500px;
    margin-top: 10rem;
    /* можешь поставить margin-top: 1.5rem;*/
}
/*....*/

.block_img {
    padding: 10px;
    display: grid;
    height: 20vh;
    width: 23vh;
    grid-gap: 5px;
    grid-template-areas:
    "box1 box1"
    "box2 box3";

}
.hr-sell{
    width: 100%
}

.block-sell:hover{
    background-color: #EEEEEE;
}
.img_box img{
    height: 100%;
    width: 100%;
}
.img_box_osnov img{
    border-radius: 30px 0 30px 0;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}
.col div a{
    text-decoration: none;
    padding: 0px 1px 2px;
}
.sub-text{
    opacity: 0.6
}

.osnov{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.house-push{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}
.center-push{
    display: flex;
    margin-left: -5rem;
    margin-bottom: 2px;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}
.sub-push{
    width: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.zametki-pols-push{
    overflow: auto;
    display: inline;
    width: 320px;
    height: 120px;
    margin-left: 2rem;
    border: 2px solid #000;
    display: flex;
    padding: 5px 16px;
    justify-content: center;

}

.zametki{
    margin-top: 1rem;
    font-size: 16px;
}
.shadow-text:hover{
    -webkit-box-shadow: -11px 19px 16px 7px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: -11px 19px 16px 7px rgba(34, 60, 80, 0.19);
    box-shadow: -11px 19px 16px 7px rgba(34, 60, 80, 0.19);
    background-color: white;
    transition: all 0.4s linear;
}

.diff{
    margin-top: -18px;
    margin-left: 4px;
}