*{
    font-family: "Open Sans", sans-serif;
}

.header{
    position: static;
}


.label-com{
    vertical-align: inherit;
    margin-top: 74px;
}

.searchId{
    display: flex;
    flex-position: row;
    margin-bottom: 50px;
    width: 1005px;
    font-size: 32px;
    border-radius: 4px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cfe-nav{
    width:270px;
}
img{
    width: 100%;
    height: 230px
}


.echo{
    width:1800px;
}
.filtrDrop-stoim-metr{
    width: 310px;
    height: 61px;
}
.area-metr{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    width: 295px;
    margin-left: 2px;
}
.al-msg{
    display: flex;
    width: 346px;
    justify-content: center;
    margin-left: 24rem;
}
.area-ot{
    border-right-color: #fff;
    padding-right: 5px;
}
.area-do{
    border-right-color: #fff;
}

.stoimost{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    width: 295px;
    margin-left: 2px;
}
.stoim-ot{
    border-right-color: #fff;
    padding-right: 5px;
}
.stoim-do{
    border-right-color: #fff;
}

.filter-label{
    margin-left: 1rem;
    display: flex;
    justify-content: start;
}


.buton{
    vertical-align: inherit;
    margin-top: 30px
}


.obj{
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: space-between;
}


.navbar{
    padding-top: 15px;
    padding-bottom: 15px
}

.filtrDrop{
    border-radius: 14px;
    height: 235px;
    width: 298px;
}

.filtrDrop-region{
    border-radius: 14px;
    height: 235px;
    width: 271px;
}

.fltr{
    height:57.6px;
    width: 152px;
    padding: 14.5px;
    color-text: #000;
    background-color: #fff;
    border-right-color: #ced4da
}

.list-item {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 8px;
    font-size: 14px;

}

.search-submit{
    background-color: #fff;
    border-left-color: #000;
    height: 57.6px;
    padding: 14.5px;
    margin-top: 38px;
}
.container_1 {
    width: 400px;
    height: 400px;
    margin: 100px 0px 0px 550px;
}

h1 {
    position: relative;
    text-align: center
}

.comment {
    padding-top: 20px;
}

#krasna{
    display: flex;
    justify-content: center;
    width: 360px;
    margin-left: 36%
}
.russich{
    margin-left: -7rem;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}

.commentText p {
    margin:0;
    font-size: 18px;

}
.add-ch{
    display: inline;
    margin-right: 36px
}

hr {
    width: 217px
}
.object-img{
    float: left;
    max-width: 615px;
    max-height: 515px;
}
.sub-text {
    color:#aaa;
    font-family: "Open Sans", san-serif;
    font-size:14px;
}

.regist-input{
    margin-bottom: 10px;
    align-items: start;
    text-align: left
}


#csbmtend{
    width: 42.5rem;
    margin-left: 25rem
}


#sbtend{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 25rem
}


.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }


      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }


      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }


      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }


      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }


.c-lh{
    display: flex;
    flex-direction: row;
    justify-content: start
}
.fv{
    display: inline-block
}

.ht{
    display: inline-block
}

.alr-h{
    display: inline-block
}
.card-obj{
    width: 80%;
    margin-top: 6.5rem;
    margin-left: 5rem;
    border-radius: 10%;
    padding: 1.7rem;
}

.type{
    width: 55px
}

.txtForm {
    width: 105rem;
    padding: 1.3rem

}

.txtFront{
    text-align: center;

}


.container-c{
    margin-top: 109px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.clicker{
     position: static;
}
.knopka{
    display: inline-block;
    border-size: 1.8rem;
    width: 13rem;
    height: 3.9rem;
    margin-bottom: 0.1rem;
    background-color: #fff;
    margin-left: 1.2rem;
    text-align: center;
    border-color: #ced4da;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;

}

.knopka:hover, .knopka:focus{
    border: 0.14rem solid;
    background-color: white;
    border-color: #FFF323;
    transform: translate3d(20px,0,0);
}


#div1{
    display: inline-block;
    position: absolute;
    margin-top: inherit;
    margin-left: 75px;
    width: 1005px;
    height: 480px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#div2{
    display: inline-block;
    overflow-y: auto;
    position: absolute;
    margin-top: -64px;
    margin-left: 75px;
    width: 1005px;
    height: 480px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#div3{
    display: inline-block;
    position: absolute;
    margin-top: -128px;
    margin-left: 75px;
    width: 1005px;
    height: 480px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-contact{
    margin-left: 90px;
    margin-top: -10%
}
.cb-contact{
    padding: 50px
}

.input-file-row {
	display: inline-block;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #4592AF;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


.input-file:hover .input-file-btn {
	background-color: #366ED8;
}

.input-file:active .input-file-btn {
	background-color: #366ED8;
}

.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

#input-file-text-remove {
	color: red;
	text-decoration: none;
	display: inline-block;
	margin-left: 5px;
}

#input-file-text-remove2{
    color: red;
	text-decoration: none;
	display: inline-block;
	margin-left: 5px;
}
.region-select{
    width: 250px;
}
.izbr{
    margin-left: 1.5rem;
    border-radius: 3px;
    padding: 5px;
    display: inline;
    font-size: 17px;
    border-bottom: 3px solid;
    background-position: 100%;
}

/*расширенный доступ*/

.cnopki{
    border-right: 2px solid grey;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    outline: none;

}
.cnopki:first-child{
    border-left: 2px solid grey;
}
.cnopka-bl{
    display: inline;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 18px;

}
.cnopki-all{
    margin: 5%;
}

.regions-bl-cnopki{
    width: 1400px;
    border: 1px solid #fff;
    padding: 2rem;
    margin: 5%;
}
.bordyr{
    border-right: 2px solid grey;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    outline: none;
}
.cnopka-reg-bl{
    display: inline-block;
    margin-top: 25px;
}

.cnopka-bl{
    display: inline-block;
    margin-top: 25px;

}

.d-bl{
    margin: 10%;
    border: 1px solid grey;
    padding: 25px;
    width: 400px;
    height: 250px;
}
.cnopka_back{
    margin-left: 20px;
    text-decoration: none;
    outline: none;
}
.cnopka-rep{
    text-decoration: none;
    outline: none;

}
.d-rep{
    margin: 8%;
    border: 1px solid white;
    padding: 25px;
    width: 600px;
    height: 350px;
}

.report-text{
    width: 600px;
    height: 250px;
    padding: 6%;
    margin-bottom: 5px;
    margin-top: 5px;
}