{% load static %}
{% load humanize %}
{% include "header_ex.html" %}
<br>
<section class="description">

    <div class="echo">
         {% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.tags == 'error' %}
      <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ message }}</p>
            </div>
    {% else %}
    <div class="success success-danger mb-2 mt-2">
                <p class="mb-0">{{ message }}</p>
            </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
      <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
        <div class="col">

        <div class="card shadow" style="width: 50rem; margin-left: 7rem; height: 53">

             <!--КАРУСЕЛЬ-->
    {% include "index_handlers/card_components/carousel.html" %}

            <div class="card-body obj">
              <h4 class="card-title"><b>Описание: </b></h4>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; max-width: 100px;">{{ item.description }}</font></p>
            </div>
            <div class="osn-c">
            <div class="container">
                <div class="card" style="display: flex; flex-direction: row; justify-content: flex-start">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.total_surface }} м²</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Общая площадь </h6>
                    </div>
                    {% if item.floor %}
                    <div class="card-body">
                        <h5 class="card-title">{{item.floor}}</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Этаж</h6>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.price|intcomma }} р.</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Стоимость</h6>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

</section>

<br>

<section class="table-descript">
    <div class="echo">
        <div class="container">
            <div class="card" style="width: 50rem; margin-left: 7rem">
                <div class="card-body">
                    <h3 class="card-title" style="margin-bottom: 3rem">Общая информация</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Регион</th>
                                </div>
                                    <td>{{item.region}}</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Город</th>
                                </div>
                                    <td>{{item.city}}</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Улица</th>
                                </div>
                                    <td>{{item.street}}</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Стоимость</th>
                                </div>
                                    <td>{{ item.price|intcomma }} р.</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row"> Возможность обмена</th>
                                </div>
                                {% if item.trade %}
                                    <td>Да</td>
                                {% else %}
                                <td>Нет</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>

            </div>
        </div>
    </div>

</section>

<br>

<section class="table-descript-2">
    <div class="echo">
        <div class="container">
            <div class="card" style="width: 50rem; margin-left: 7rem">
                <div class="card-body">
                    <h3 class="card-title" style="margin-bottom: 3rem">Подробная информация</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Тип</th>
                                </div>
                                   {% include 'handlers/validation_on_type.html' %}
                            </tr>
                            {% if item.material %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Материал стен</th>
                                </div>
                                    <td>{{item.material}}</td>
                            </tr>
                            {% endif %}
                            {% if item.floor %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Этаж</th>
                                </div>
                                    <td>{{item.floor}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row"> Площадь общая</th>
                                </div>
                                    <td>{{item.total_surface}} м²</td>
                            </tr>
                            {% if item.total_floors %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Всего этажей</th>
                                </div>
                                    <td>{{ item.total_floors }}</td>
                            </tr>
                            {% endif %}
                            {% if item.livin_surface %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Жилая площадь</th>
                                </div>
                                    <td>{{item.livin_surface}} м²</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                     <div class="card" style="display: flex; flex-direction: row; justify-content: start">
<form method="POST" action="{% url 'extended_item' item.id %}">
    {% csrf_token %}
    <input type="submit" name="action" value="Вернуться к списку объявлений">
    <input type="submit" name="action" value="Опубликовать">
    <input type="submit" name="action" value="Удалить объявление">
    <input type="submit" name="action" value="Заблокировать пользователя">
</form>



                        </div>
                </div>

                </div>

                </div>
            </div>
        </div>

    </div>

</section>
<br>

{%include "footer.html"%}
