{%include 'header_ex.html'%}
{% load custom_filter %}
{% load humanize %}
{% include 'handlers/message_validation.html' %}

{{ region }}
<a href="{% url 'extended_page_regions' %}">Вернуться назад</a>
<br>
<section class="sell-push">
    <div class="container" style="margin-top: 10rem; margin-left: 235px; width: 985px">
        <div class="shadow-text">
            {% for i in items %}
            <div class="row" style="margin-bottom: 75px; height: 180px; width: 955px">
            <div class="col col-sm-6">
                <div class="osnov">
                    {% if not i.no_pictures %}
                    <div class="block_img" style="padding: 15px">

                        {% for j in i.id|imagefilter %}

                        {% if j.index_store %}
                        <div class="img_box box1">
                            <div class="img_box_osnov">
                                <img src="{{ j.image.url }}" alt="">
                            </div>
                        </div>
                        {% endif %}
                        {% if j.index_store_2 %}
                        <div class="img_box box2">
                            <img src="{{ j.image.url }}" alt="">
                        </div>
                        {% endif %}
                        {% if j.index_store_3 %}
                        <div class="img_box box3">
                            <img src="{{ j.image.url }}" alt="">
                        </div>

                        {% endif %}{% endfor %}
                    </div>{% endif %}

                    <div class="text">
                        <a href="{% url 'extended_item' i.id %}">{{ i.name }}</a>
                        <div class="describe">
                            {% if i.floor and i.total_floors %}
                            <p>{{ i.city }}, ул. {{i.street}} {{ i.floor }}/{{ i.total_floors }} этаж</p>
                            {% else %}
                            <p>{{ i.city }}, ул. {{i.street}}</p>
                            {% endif %}


                            <span class="sub-text">{{ i.description | truncatechars:"80" }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-sm-5">
                <div class="house-push">
                    <div class="center-push">
                        <div class="area-push">
                            <p>{{ i.total_surface }}м²</p>
                        </div>
                        {% if i.floor %}
                        <div class="floor-push">
                            <span class="sub-text">{{ i.floor }} этаж</span>
                        </div>
                        {% endif %}
                    </div>
                <div class="sub-push">
                    <h5>Стоимость {{ i.price|intcomma }} р.</h5>
                        <div class="date-push">
                            <span class="sub-text">Дата размещения объявления:
                                <p style="color: black;">{{ i.date }}</p>
                            </span>
                        </div>

                </div>


                </div>
            </div>
        </div>
            {% empty %}
            <p>Новых объявлений в этом регионе нет</p>{% endfor %}
    </div>
    </div>
</section>






{%include 'footer.html'%}