{% load humanize %}
<section class="for-pdf" style="display: none;">

                            <div class="container">
                                {% for i in items %}
                                <div class="shadow-text">
                                <div class="row">
                                    <div class="col col-sm-6">
                                        <div class="osnov">
                                            {% if not i.item.no_pictures %}
                                            <div class="block_img">
                                                {% for j in images %}
                                                    {% if i.id == j.post.id %}
                                                    {% if j.index_store %}
                                                <div class="img_box box1">
                                                    <div class="img_box_osnov">
                                                        <img src="{{ j.image.url }}" alt="">
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if j.index_store_2 %}
                                                <div class="img_box box2">
                                                    <img src="{{ j.image.url }}" alt="">
                                                </div>
                                                {% endif %}
                                                {% if j.index_store_3 %}
                                                <div class="img_box box3">
                                                    <img src="{{ j.image.url }}" alt="">
                                                </div>
                                                {% endif %}
                                                {% endif %}{% endfor %}
                                            </div>{% endif %}

                                            <div class="text">
                                                <a href="{% url 'item' i.item.id %}">{{ i.item.name }}</a>
                                               <div class="describe">
                                                {% if i.item.floor and i.item.total_floors %}
                                                <p>{{ i.item.city }}, ул. {{i.item.street}} {{ i.item.floor }}/{{ i.item.total_floors }} этаж</p>
                                                {% else %}
                                                <p>{{ i.item.city }}, ул. {{i.item.street}}</p>
                                                {% endif %}


                                                <span class="sub-text">{{ i.item.description | truncatechars:"80" }}</span>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-md-6">
                                        <div class="house-push">
                                            <div class="center-push">
                                                <div class="area-push">
                                                    <p>{{ i.item.total_surface }}м²</p>
                                                </div>
                                                 {% if i.item.floor %}
                                                <div class="floor-push">
                                                    <span class="sub-text">{{ i.item.floor }} этаж</span>
                                                </div>
                                                {% endif %}
                                            </div>
                                        <div class="zametki-pols-push">
                                            <div class="zametki">
                                                {% for com in comments %}
                                                {% if i.id == com.post.id %}
                                                <p>{{ com.text }}</p>
                                                {% endif %}
                                                {% empty %}
                                                    <p>Пока нет комментариев</p>
                                                {% endfor %}
                                                <div>
                                        </div>
                                    </div>
                                </div>
                                            <div class="diff">
<!--                        <a href=""><i class="fa-regular fa-heart"></i></a>-->
                        <a href="{% url 'remove_from_favs_pp' i.item.id %}"><i class="fa-regular fa-circle-xmark"></i></a>

                    </div>
                            </div>
                                    </div>
                                </div>
                                {% empty %}
                                                    <p>Избранное пока пустое</p>
                                                {% endfor %}
                            </div>
                  </div>  </section>