<p class="izbr" style="padding-top: 3rem">Текст пользователя</p>
                        <section class="sell-push" style="margin-top: 1.4rem">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-sm-6">
                                        <div class="osnov">
                                            <div class="block_img">
                                                <div class="img_box box1">
                                                    <div class="img_box_osnov">
                                                        <img src="https://images.unsplash.com/photo-1600121848594-d8644e57abab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                                                    </div>
                                                </div>
                                                <div class="img_box box2">
                                                    <img src="https://images.unsplash.com/photo-1600121848594-d8644e57abab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                                                </div>
                                                <div class="img_box box3">
                                                    <img src="https://images.unsplash.com/photo-1600121848594-d8644e57abab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <a href="">Продам 3-к квартиру</a>
                                                <div class="describe">
                                                    <p>Красноярск, ул. Грунтовая 5/9 этаж</p>
                                                    <span class="sub-text">Остекленный балконб встроенная техника раздельный с/y</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-sm-5">
                                        <div class="house-push">
                                            <div class="center-push">
                                                <div class="area-push">
                                                    <p>13м²</p>
                                                </div>
                                                <div class="floor-push">
                                                    <span class="sub-text">1 этаж</span>
                                                </div>
                                            </div>
                                        <div class="sub-push">
                                            <h5>Стоимость</h5>
                                                <div class="date-push">
                                                    <span class="sub-text">Дата размещения объявления:</span>
                                                </div>
                                            <div class="diff">
                                                <a href=""><i class="fa-regular fa-heart"></i></a>
                                                <a href=""><i class="fa-regular fa-circle-xmark"></i></a>
                                                <a href=""><i class="fa-regular fa-comment"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>