
<section class="sell-push_fav" style="margin-top: 2.5rem">

    <div class="container">
        {% for i in items %}

<div class="shadow-text">

<div class="row" style="margin-bottom: 75px; height: 190px; width: 955px; padding: 2%;">

    <div class="col">

                    <!--КАРУСЕЛЬ-->
    {% include "cabinet/handlers/favs_handlers/fav_carousel.html" %}

    </div>

    <div class="col">

        <!--Локация/Краткое описание-->
        {% include "cabinet/handlers/favs_handlers/loc-some-info.html" %}

    </div>

    <div class="col">

        <!--Детали-->
        {% include "cabinet/handlers/favs_handlers/details.html" %}


    </div>

    <div class="col">
        <div class="row">
        <div class="col">

            <!--Заметки-->
        {% include "cabinet/handlers/favs_handlers/notes.html" %}


        </div>

    <div class="col">

         <!--Удалить-->
        {% include "cabinet/handlers/favs_handlers/delete.html" %}


</div>
        </div>

        </div>

   </div> </div>{% endfor %}
</div>
    <a role="button" href="{% url 'favs_for_print' %}">Распечатать список</a>
</section>