{% load custom_filter %}
{% if user.is_authenticated %}
                    {% if not i.id|check:user %}
                     <div class="diff2">
                        <a href=""></a>
                        <a href="{% url 'add_to_favs' i.id %}" style="margin-left: 80%;"><i class="fa-regular fa-heart"></i></a>
                        <a href=""></a>
                    </div>
                    {% else %}
                    <div class="diff2">
                        <a href=""></a>
                        <a href="{% url 'remove_from_favs' i.id %}" style="margin-left: 80%;"><i class="fa-solid fa-heart"></i></a>
                        <a href=""></a>
                    </div>
                    {% endif %}{% endif %}
<p style="color: gray; margin-left: 87%; margin-top: 250%;">{{ i.id }}</p>