{%include 'header_ex.html'%}

{% include 'handlers/message_validation.html' %}
<h1>Все заблокированные номера</h1>
<a href="{% url 'extended_page' %}">Вернуться назад</a>
<a class="cnopka-bl" href="{% url 'extended_black_list_add' %}">Добавить номер</a>
<div class="regions-bl-cnopki">
    {% for i in black_list %}
        <div class="cnopka-reg-bl">
            <div class="bordyr">
               <a href="{% url 'extended_black_list_page' i.id %}">{{ i.phone_number }}</a>
            </div>
        </div>
    {% endfor %}
</div>

{%include 'footer.html'%}