 <div id="carouselExampleIndicators" style="max-height: 560px; max-width: 400px; margin-left: 24.5%; margin-top: 3%; margin-bottom: 3%;" class="carousel slide" data-bs-touch="false" data-bs-interval="false"->

             {% if not i.no_pictures %}
            <div style="max-height: 500px" class="carousel-inner">
                {% for i in images %}
                  {% if i.active %}
                    <div class="carousel-item active">
                        <img style="max-height: {{ i.url_height }}px; height: auto; width: auto;" src="{{ i.image.url }}" class="object-img img-thumbnail d-block w-100" alt="photo" >
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <img style="max-height: {{ i.url_height }}px; height:auto; width: auto;" src="{{ i.image.url }}" class="object-img img-thumbnail d-block w-100" alt="photo">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>