<div class="card" style="display: flex; flex-direction: row; justify-content: start">

                        {% if user.is_authenticated %}

                        <form method="post" action="">
                            {% csrf_token %}
                        <div class="container overflow-hidden" style="margin: 5%">

                        <div class="col col-12 mb-3">
                        {% if check_on_fav %}

                                <!--УЖЕ В ИЗБРАННОМ-->
                            {% include "index_handlers/card_components/user_options_handler/already_in_favs.html" %}

                            {% else %}

                             <!--ДОБАВИТЬ В ИЗБРАННОЕ-->
                            {% include "index_handlers/card_components/user_options_handler/add_in_favs.html" %}

                            {% endif %}
                        </div>
                          <div class="col col-12 mb-3">
                        {% if check_on_rep %}
                        <button style="" class="btn btn-sm btn-outline-secondary" type="button" disabled>
                                      Вы уже пожаловались на это объявление
                        </button>
                        {% else %}
                        <div class="accordion-header" id="flush-faq1">

                                <button style="margin: 5% auto" class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFaq1" aria-expanded="false" aria-controls="flush-collapseFaq1">
                                      Пожаловаться
                                </button>
                            </div>
                        {% endif %}

                                <!--СОЗДАТЬ РЕПОРТ-->
                           {% include "index_handlers/card_components/user_options_handler/create_report.html" %}

                          </div>
                        </div>{% endif %}
                        </div>