{%include "header.html"%}
<style>

.knopka{
    display: inline-block;
    border-size: 1.8rem;
    width: 13rem;
    height: 3.9rem;
    margin-bottom: 0.1rem;
    background-color: #fff;
    margin-left: 1.2rem;
    text-align: center;
    border-color: #ced4da;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
}
</style>

    <div class="container-c">
        <h2>Личный кабинет</h2>
        <div class="clicker">
            <input type="button" class="knopka" ondblclick="disFunc1()" value="Анкетные данные">
                <div class="box" id="div1">
                <div class="card-body">
                <h5 class="card-title" style="margin-bottom: 1rem">Личные данные пользователя</h5>
                    {% if user.is_authenticated %}

                    <table class="table">
                    <tbody>
                    <tr>
                            <th scope="row">Имя</th>
                            <td>{{ user.name }}</td>
                        </tr>
                    <tr>
                        <th scope="row">Фамилия</th>
                            <td>{{ user.usersurname }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Номер телефона</th>
                            <td>{{ user.phone_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Текущий баланс</th>
                            <td>185.000</td>
                        </tr>
                        <tr>
                            <th scope="row">Тариф</th>
                            <td>тарифище</td>
                        </tr>
                    </tbody>
                </table>
                    {% endif %}

            </div>
            </div>
        </div>
        <div class="clicker">
            <input type="button" class="knopka" ondblclick="disFunc2()" value="Избранное" >
            <div class="box" id="div2">
                {% for i in favourites %}
                <h1> {{ i.item.item_type }}</h1>
                {% endfor %}
            </div>
        </div>
        <div class="clicker">
            <input type="button" class="knopka" ondblclick="disFunc3()" value="Другое">
            <div class="box" id="div3">

            </div>
        </div>
    </div>

<script>
    function disFunc1(){
            document.getElementById("div1").style.display = "inline-block";
            document.getElementById("div2").style.display = "none";
            document.getElementById("div3").style.display = "none";
        };
    function disFunc2(){
            document.getElementById("div2").style.display = "inline-block";
            document.getElementById("div1").style.display = "none";
            document.getElementById("div3").style.display = "none";
        };
    function disFunc3(){
            document.getElementById("div3").style.display = "inline-block";
            document.getElementById("div2").style.display = "none";
            document.getElementById("div1").style.display = "none";

</script>

{%include "footer.html"%}