{%include "header.html"%}

    <div class="container">
        <div class="couple">
        <div class="card c-1">
            <img id="avatar" src="" alt="your-photo">

            <div class="card-body">
                <a type="button" class="btn btn-outline-primary ank-c">Редактировать фото</a>
                <a href="" type="button" class="btn btn-outline-dark ank-c">Избранное</a>
                <a href="" type="button" class="btn btn-outline-dark ank-c">Создать объявление</a>

            </div>
        <br>
        </div>
            <div class="card c-2">
            <div class="card-body">
                <h5 class="card-title">Личные данные пользователя</h5>
                    {% if user.is_authenticated %}
                <table class="table">
                    <tbody>
                    <tr>
                            <th scope="row">Имя</th>
                            <td>{{ user.name }}</td>
                        </tr>
                    <tr>
                            <th scope="row">Фамилия</th>
                            <td>{{ user.usersurname }}</td>
                        </tr>
                    <tr>
                            <th scope="row">Номер телефона</th>
                            <td>{{ user.phone_number }}</td>
                        </tr>
                     <tr>
                            <th scope="row">Почта</th>
                            <td>{{ user.email }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Текущий баланс</th>
                            <td>185.000</td>
                        </tr>
                        <tr>
                            <th scope="row">Тариф</th>
                            <td>тарифище</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="" type="button" class="btn btn-outline-primary">История операций</a></th>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        </div>
    </div>




{%include "footer.html"%}