{%include "header.html"%}
<style>

.knopka{
    display: inline-block;
    border-size: 1.8rem;
    width: 13rem;
    height: 3.9rem;
    margin-bottom: 0.1rem;
    background-color: #fff;
    margin-left: 1.2rem;
    text-align: center;
    border-color: #ced4da;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
}

</style>
<form action="">
    <div class="container-c">
        <h2>Личный кабинет</h2>
        <div class="clicker">
            <input type="button" class="knopka" id="btn1" value="Анкетные данные">
                <div class="box" id="div1" hidden>
                <div class="card-body">
                <h5 class="card-title" style="margin-bottom: 1rem">Личные данные пользователя</h5>
                    {% if user.is_authenticated %}

                    <table class="table">
                    <tbody>
                    <tr>
                            <th scope="row">Имя</th>
                            <td>{{ user.username }}</td>
                        </tr>
                    <tr>
                        <th scope="row">Фамилия</th>
                            <td>{{ user.usersurname }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Номер телефона</th>
                            <td>{{ user.phone_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Текущий баланс</th>
                            <td>185.000</td>
                        </tr>
                        <tr>
                            <th scope="row">Тариф</th>
                            <td>тарифище</td>
                        </tr>
                    </tbody>
                </table>
                    {% endif %}

            </div>
            </div>
        </div>
        <div class="clicker">
            <input type="button" class="knopka" id="btn2" value="Избранное">
            <div class="box" id="div2" hidden>
                    <p class="izbr" style="padding-top: 3rem">Текст пользователя</p>
                        <section class="sell-push" style="margin-top: 1.4rem">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-sm-6">
                                        <div class="osnov">
                                            <div class="block_img">
                                                <div class="img_box box1">
                                                    <div class="img_box_osnov">
                                                        <img src="https://images.unsplash.com/photo-1600121848594-d8644e57abab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                                                    </div>
                                                </div>
                                                <div class="img_box box2">
                                                    <img src="https://images.unsplash.com/photo-1600121848594-d8644e57abab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                                                </div>
                                                <div class="img_box box3">
                                                    <img src="https://images.unsplash.com/photo-1600121848594-d8644e57abab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <a href="">Продам 3-к квартиру</a>
                                                <div class="describe">
                                                    <p>Красноярск, ул. Грунтовая 5/9 этаж</p>
                                                    <span class="sub-text">Остекленный балконб встроенная техника раздельный с/y</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-sm-5">
                                        <div class="house-push">
                                            <div class="center-push">
                                                <div class="area-push">
                                                    <p>13м²</p>
                                                </div>
                                                <div class="floor-push">
                                                    <span class="sub-text">1 этаж</span>
                                                </div>
                                            </div>
                                        <div class="sub-push">
                                            <h5>Стоимость</h5>
                                                <div class="date-push">
                                                    <span class="sub-text">Дата размещения объявления:</span>
                                                </div>
                                            <div class="diff">
                                                <a href=""><i class="fa-regular fa-heart"></i></a>
                                                <a href=""><i class="fa-regular fa-circle-xmark"></i></a>
                                                <a href=""><i class="fa-regular fa-comment"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
        </div>
        <div class="clicker">
            <input type="button" class="knopka" id="btn3" value="Другое">
            <div class="box" id="div3" hidden>

            </div>
        </div>
    </div>
</form>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            btn1.addEventListener('click', function (event) {
                event.preventDefault();
                div1.hidden = !div1.hidden;
                div2.hidden = true;
                div3.hidden = true;
            })

            btn2.addEventListener('click', function (event) {
                event.preventDefault();
                div2.hidden = !div2.hidden;
                div1.hidden = true;
                div3.hidden = true;
            })

            btn3.addEventListener('click', function (event) {
                event.preventDefault();
                div3.hidden = !div3.hidden;
                div1.hidden = true;
                div2.hidden = true;
            })
        })
    </script>

{%include "footer.html"%}