{%include "header.html"%}
<style></style>

    <div class="container-c">
        <h2>Личный кабинет</h2>
        <div class="clicker">
            <input class="btn knopka btn-sm knopka" value="Анкетные данные" type="button">
            <div class="box" id="div1">
                <div class="card-body">
                <h5 class="card-title" style="margin-bottom: 1rem">Личные данные пользователя</h5>
                    {% if user.is_authenticated %}

                    <table class="table">
                    <tbody>
                    <tr>
                            <th scope="row">Имя</th>
                            <td>{{ user.name }}</td>
                        </tr>
                    <tr>
                        <th scope="row">Фамилия</th>
                            <td>{{ user.usersurname }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Номер телефона</th>
                            <td>{{ user.phone_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Текущий баланс</th>
                            <td>185.000</td>
                        </tr>
                        <tr>
                            <th scope="row">Тариф</th>
                            <td>тарифище</td>
                        </tr>
                    </tbody>
                </table>
                    {% endif %}

            </div>
            </div>
        </div>
        <div class="clicker">
            <input class="knopka btn btn-sm clk" value="Избранное" type="button">
            <div class="box" id="div2">
                {% for i in favourites %}
                <h1> {{ i.item.item_type }}</h1>
                {% endfor %}
            </div>
        </div>
        <div class="clicker">
            <input class="knopka btn btn-sm clk" value="Другое" type="button">
            <div class="box" id="div3">

            </div>
        </div>
    </div>


{%include "footer.html"%}