{%include "header.html"%}

<div class="container-fluid" style="height: 16rem;background-color: #f8f9fa">
    <div class="masthead" style="margin-top: 6rem">
        <div class="row">
            <div class="col col-lg-8 col-md-10 mx-auto">
                <div class="site-head mt-5" style="line-height: 1.1rem; text-align: center">
                    <h1><b>Обратная связь</b></h1>
                    <p class="subheading">подписывайтесь на наши группы </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    {% include 'handlers/message_validation.html' %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ error|escape }}</p>
            </div>

        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ error|escape }}</p>
            </div>
    {% endfor %}
{% endif %}
    <div class="card-obj">
            <div class="card card-contact">
                <div class="card-body cb-cont">
                    <div class="row">
                        <div class="col col-lg-8 col-md-10 mx-auto">
                            <form action="{% url 'contacts' %}" method="POST">
                                {% csrf_token %}
                                <div class="control-group">
                                  <div class="form-group floating-label-form-group controls">
                                    <label><b>Эл. адрес</b></label>
                                    {{ form.email }}
                                  </div>
                                </div>
                                <div class="control-group">
                                  <div class="form-group col-xs-12 floating-label-form-group controls">
                                      <label><b>Номер телефона</b></label>
                                      {{ form.phone_number }}
                                  </div>
                                    <div class="control-group">
                                      <div class="form-group floating-label-form-group controls">
                                        <label><b>Обратная связь</b></label>
                                          {{ form.text }}
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </div>
                                </form>


                                <div class="row mt-5">
                                  <div class="col-lg-8 col-md-10 mx-auto">
                                      <ul class="list-inline text-center">
                                        <li class="list-inline-item">
                                          <a href="#" class="social-button social-button--vk" aria-label="VK">
                                              <span class="fa-stack fa-lg">
                                                  <i class="fas fa-circle fa-stack-2x"></i>
                                                  <i class="fa-brands fa-vk fa-stack-1x fa-inverse"></i>
                                                </span>
                                          </a>
                                        </li>
                                        <li class="list-inline-item">
                                          <a href="#" class="social-button social-button--telegram" aria-label="Telegram">
                                              <span class="fa-stack fa-lg">
                                                  <i class="fas fa-circle fa-stack-2x"></i>
                                                  <i class="fa-brands fa-telegram fa-stack-1x fa-inverse"></i>
                                                </span>
                                          </a>

                                        </li>
                                        <li class="list-inline-item">
                                          <a href="#">
                                          </a>
                                        </li>
                                      </ul>
                                  </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>




{%include "footer.html"%}