{% load static %}
{% include "header.html" %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Название Компании</font></font></h1>
        <p class="lead text-muted"></p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Краткое описание компании </font>
          <br>
          <div class="d-lg-block">
          <a href="{% url 'make_one' %}" class="btn btn-primary btn-lg buton"><font style="vertical-align: inherit;"><i class="fa-solid fa-plus"></i> Создать объявление</font></a>
          </div>
        </font>
      </div>
    </div>
  </section>
  <form method='GET' class='' action='.'>

        <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
            <span class="input-group-addon cfe-nav" style='color:#000'>
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content="Press enter to search" class="form-control cfe-nav mt-0 py-3" placeholder="Search..." value="" style="" data-original-title="" title="" autofocus="autofocus">
        </div>

    </form>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% for i in items %}
          {% if i.public and not i.banned %}

        <div class="col">

          <div class="card shadow-sm">
            <div id="carouselExampleIndicators{{i.id}}" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>

              <div class="carousel-inner">
                {% for j in images %}
              {% if i.id == j.post.id %}
                  {% if j.active %}
                <div class="carousel-item active" >
                  <img src='{{ j.image.url }}' class="d-block w-100" alt="photo">
                </div>
                {% else %}
                <div class="carousel-item">
                  <img src="{{ j.image.url }}" class="d-block w-100" alt="photo">
                </div> {% endif %}
              {% endif %}
{% endfor %}
                </div>




              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{i.id}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{i.id}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body obj">

              <p class="card-text"><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">{{ i.description }}
                </font>
                <font style="vertical-align: inherit;"></font></font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'item' i.id %}" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посмотреть</font></font></a>
                </div>
              </div>
            </div>
          </div>

        </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</main>

{%include "footer.html"%}