{%include "header.html"%}


  <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


    <div class="container" style="margin-top: 5rem">

        <div class="card-obj">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Создать объявление</h5>
                     {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ message }}</p>
            </div>
    {% endfor %}
      {% endif %}

{% if postForm.errors %}
    {% for field in postForm %}
        {% for error in field.errors %}
        <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ error|escape }}</p>
            </div>

        {% endfor %}
    {% endfor %}
    {% for error in postForm.non_field_errors %}
        <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ error|escape }}</p>
            </div>
    {% endfor %}
{% endif %}
                <div class="row mt-4" style="display: block; margin-left: 4rem; width: 35rem">
                    <div class="col col-sm-7">
                        <label class="form-label" for="selectReg">Регион</label>
                        {{ postForm.region }}

                    </div>
                    <div class="col col-sm-7">
                        <div class="city-c mb-3">
                            <label class="form-label">Город</label>
                            {{ postForm.city }}
                        </div>
                    </div>
                    <div class="col col-sm-7">
                        <div class="city-c mb-3">
                            <label class="form-label">Улица</label>
                            {{ postForm.street }}
                        </div>
                    </div>
                    <div class="col col-sm-7">
                        <label for="sampleSelect2" class="form-label">Тип объявления</label>
                        {{ postForm.type }}

                    </div>
                    <div class="col col-sm-7">
                        <label for="sampleSelect" class="form-label">Тип объекта</label>
                        {{ postForm.item_type }}
                    </div>
                    <div class="col col-sm-7">
                        <div class="phone-c mb-3">
                            <label class="form-label">Номер телефона</label>
                            {{ postForm.phone_number }}
                        </div>
                    </div>
                    <div class="col col-sm-7">
                        <div class="phone-c mb-3" data-select="#sampleSelect2" data-option="buy" hidden="until-found">
                            <label class="form-label">Стоимость (р.)</label>
                            {{ postForm.buy_price }}
                        </div>
                        <div class="phone-c mb-3" data-select="#sampleSelect2" data-option="sell" hidden="until-found">
                            <label class="form-label">Стоимость (р.)</label>
                            {{ postForm.sell_price }}
                        </div>
                        <div class="phone-c mb-3" data-select="#sampleSelect2" data-option="take" hidden="until-found">
                            <label class="form-label">Стоимость (р/месяц)</label>
                            {{ postForm.take_price }}
                        </div>
                        <div class="phone-c mb-3" data-select="#sampleSelect2" data-option="rent" hidden="until-found">
                            <label class="form-label">Стоимость (р/месяц)</label>
                            {{ postForm.rent_price }}
                        </div>
                    </div>
                    <div class="col col-sm-7">
                        <div class="floor-c mb-3" data-select="#sampleSelect" data-option="com" hidden="until-found">
                            <label class="form-label">Этаж</label>
                            {{ postForm.com_floor }}
                        </div>
                        <div class="floor-c mb-3" data-select="#sampleSelect" data-option="flat" hidden="until-found">
                            <label class="form-label">Этаж</label>
                            {{ postForm.flat_floor }}
                        </div>
                    </div>
                    <div class="col col-sm-7">
                        <div class="floor-al-c mb-3" data-select="#sampleSelect" data-option="house" hidden="until-found">
                            <label class="form-label">Этажей всего</label>
                            {{ postForm.house_total_floor }}
                        </div>
                        <div class="floor-al-c mb-3" data-select="#sampleSelect" data-option="com" hidden="until-found">
                            <label class="form-label">Этажей всего</label>
                            {{ postForm.com_total_floor }}

                        </div>
                    </div>
                    <div class="col col-sm-7">
                        <div class="house-mat-c mb-3" data-select="#sampleSelect" data-option="house" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.house_material }}
                        </div>
                        <div class="g-mat-c mb-3" data-select="#sampleSelect" data-option="garage" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.garage_material }}
                        </div>
                        <div class="com-mat-c mb-3" data-select="#sampleSelect" data-option="com" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.com_material }}
                        </div>
                        <div class="f-mat-c mb-3" data-select="#sampleSelect" data-option="flat" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.flat_material }}
                        </div>
                    </div>
                    <div class="col col-sm-7">
                        <div class="a-all-c mb-3" >
                            <label class="form-label">Площадь общая</label>
                            {{ postForm.total_surface }}
                        </div>

                    </div>
                    <div class="col col-sm-7">
                        <div class="a-l-c mb-3" data-select="#sampleSelect" data-option="flat" hidden="until-found">
                            <label class="form-label">Жилая площадь</label>
                             {{ postForm.flat_livin_surface }}
                        </div>
                        <div class="a-l-c mb-3" data-select="#sampleSelect" data-option="house" hidden="until-found">
                            <label class="form-label">Жилая площадь</label>
                             {{ postForm.house_livin_surface }}
                        </div>
                    </div>

                    <div class="col col-sm-7">
                        <div class="a-all-c mb-3">
                            <label class="form-check-label add-ch">Возможность обмена</label>
                            {{ postForm.trade }}
                        </div>

                    </div>
                    <div class="col col-lg-12">
                        <div class="phone-c mb-3">
                            <label class="form-label">Основное название</label>
                            {{ postForm.name }}
                        </div>
                    </div>
                    <div class="col col-lg-12">
                        <div class="desc-c mb-3">
                            <label class="form-label">Описание</label>
                            {{ postForm.description }}
                        </div>

                    </div>
                    <div class="col col-md-6">
                        <div id="form-container" class="add-f mb-3" style="width: 330px">
                            <label class="form-label">Добавить фотографии</label>
                            <h6>Основное изображение</h6>
                            <div class="bird-form" style="margin: 3%">
                                <label class="input-file">
                                    {{ main_imageForm.image }}
		   	                        <span class="input-file-btn">Выберите файл</span>
                                    <span class="input-file-text">Максимум 10мб</span>
 		                        </label>

                            </div>
                            <br>
                            {{ formset.management_form }}
                            {% for form in formset %}
                            <div class="images_row bird-form" style="margin: 3%">

                                <label class="input-file">
                                    {{form.image}}
		   	                        <span class="input-file-btn">Выберите файл</span>

                                    <button class="DeleteRow btn" type="button"><span id="input-file-text-remove"><i class="fa-solid fa-minus"></i></span></button>
 		                        </label>
                            </div>
                            {% endfor %}


                            <button id="add-form" type="button">Добавить изображение</button>
                        </div>

                    </div>
                    <div class="col col-sm-7">
                        <div class="b-accept mb-3">
                            <button type="submit" class="btn btn-primary btn-sm">Добавить объявление</button>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

       <script type="text/javascript">


        $("body").on("click", ".DeleteRow", function () {
            $(this).parents(".images_row").remove();
        });


    </script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
            const SELECT_ID = '#sampleSelect'; // айдишник селекта

            const sampleSelect = document.querySelector(SELECT_ID);
            const inputs = document.querySelectorAll(`[data-select="${SELECT_ID}"]`)

            sampleSelect.addEventListener('change', function(e) {
                const optionValue = e.currentTarget.value; // Получаем выбранное значение


                inputs.forEach((input) => {
                    if (input.dataset.option === optionValue) {
                        input.removeAttribute('hidden')
                    } else {
                        input.setAttribute('hidden', '')
                    }
                })
            })
        });
        document.addEventListener('DOMContentLoaded', function () {
            const SELECT_ID = '#sampleSelect2'; // айдишник селекта

            const sampleSelect = document.querySelector(SELECT_ID);
            const inputs = document.querySelectorAll(`[data-select="${SELECT_ID}"]`)

            sampleSelect.addEventListener('change', function(e) {
                const optionValue = e.currentTarget.value; // Получаем выбранное значение


                inputs.forEach((input) => {
                    if (input.dataset.option === optionValue) {
                        input.removeAttribute('hidden')
                    } else {
                        input.setAttribute('hidden', '')
                    }
                })
            })
        });
        let birdForm = document.querySelectorAll(".images_row.bird-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = birdForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()
            console.log(birdForm)
            let newForm = birdForm[birdForm.length-1].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }


        function showFile(input) {
          const file = input.files[0].name
          input.nextElementSibling.innerHTML = file
        };

        function numberWithSpaces(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        };

        const input = document.querySelector('.price');
        input.addEventListener('input', numberWithSpaces)


    </script>
{%include "footer.html"%}