{% load static %}

{% include "header.html" %}



<br>

<section class="description">

    <div class="echo">
         {% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.tags == 'error' %}
      <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ message }}</p>
            </div>
    {% else %}
    <div class="success success-danger mb-2 mt-2">
                <p class="mb-0">{{ message }}</p>
            </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
      <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
        <div class="col">

        <div class="card shadow" style="width: 50rem; margin-left: 7rem; height: 53">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>

              <div class="carousel-inner" style="width: 35 rem; height: 40rem">
                  {% for i in images %}
                  {% if i.active %}
                <div class="carousel-item active">
                  <img src="{{ i.image.url }}" class="d-block w-100" alt="photo" style="width: 35 rem; height: 40rem">
                </div>

                {% else %}
                <div class="carousel-item">
                  <img src="{{ i.image.url }}"  class="d-block w-100" alt="photo" style="width: 35 rem; height: 40rem">
                </div>{% endif %}
                 {% endfor %}
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body obj">
              <h4 class="card-title"><b>Описание: </b></h4>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; max-width: 100px;">{{ item.description }} </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
            </div>
            <div class="osn-c">
            <div class="container">
                <div class="card" style="display: flex; flex-direction: row; justify-content: flex-start">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.total_surface }}m</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Общая площадь </h6>
                    </div>
                    {% if item.floor %}
                    <div class="card-body">
                        <h5 class="card-title">{{item.floor}}</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Этаж</h6>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{item.price}}</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Стоимость</h6>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

</section>

<br>

<section class="table-descript">
    <div class="echo">
        <div class="container">
            <div class="card" style="width: 50rem; margin-left: 7rem">
                <div class="card-body">
                    <h3 class="card-title" style="margin-bottom: 3rem">Общая информация</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Регион</th>
                                </div>
                                    <td>{{item.region}}</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Город</th>
                                </div>
                                    <td>{{item.city}}</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Улица</th>
                                </div>
                                    <td>{{item.street}}</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Стоимость</th>
                                </div>
                                    <td>{{item.price}}р.</td>
                            </tr>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row"> Возможность обмена</th>
                                </div>
                                    <td>да</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>

            </div>
        </div>
    </div>

</section>

<br>

<section class="table-descript-2">
    <div class="echo">
        <div class="container">
            <div class="card" style="width: 50rem; margin-left: 7rem">
                <div class="card-body">
                    <h3 class="card-title" style="margin-bottom: 3rem">Подробная инфо</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Тип</th>
                                </div>
                                    <td>{{item.item_type}}</td>
                            </tr>
                            {% if item.material %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Материал стен</th>
                                </div>
                                    <td>{{item.material}}</td>
                            </tr>
                            {% endif %}
                            {% if item.floor %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Этаж</th>
                                </div>
                                    <td>{{item.floor}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row"> Площадь общая</th>
                                </div>
                                    <td>{{item.total_surface}}м квад.</td>
                            </tr>
                            {% if item.total_floors%}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Всего этажей</th>
                                </div>
                                    <td>{{ item.total_floors }}</td>
                            </tr>
                            {% endif %}
                            {% if item.livin_surface %}
                            <tr>
                                <div class="card-subtitle">
                                    <th scope="row">Жилая площадь</th>
                                </div>
                                    <td>{{item.livin_surface}} м. квад.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                     <div class="card" style="display: flex; flex-direction: row; justify-content: start">




                        {% if user.is_authenticated %}

                        <form method="post" action="">
                            {% csrf_token %}
                    <div class="container overflow-hidden" style="margin: 5%">

                        <div class="col col-12 mb-3">
                        {% if check_on_fav %}
                        <input type="button" value="Объявление уже в избранном" class="btn btn-sm btn-outline-primary" disabled><i class="fa fa-heart"></i>
                        {% else %}
                        <input type="submit" name='action' value="Объявление в избранное" class="btn btn-sm btn-outline-primary"><i class="fa fa-heart"></i>
                        {% endif %}</div>
                          <div class="col col-12 mb-3">
                        {% if check_on_rep %}
                        <button style="" class="btn btn-sm btn-outline-secondary" type="button" disabled>
                                      Вы уже пожаловались на это объявление
                                </button>
                        {% else %}
                        <div class="accordion-header" id="flush-faq1">

                                <button style="margin: 5% auto" class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFaq1" aria-expanded="false" aria-controls="flush-collapseFaq1">
                                      Пожаловаться
                                </button>
                            </div>
                        {% endif %}

                            <div id="flush-collapseFaq1" class="accordion-collapse collapse" aria-labelledby="flush-faq1" data-bs-parent="#accordionFaqList">
                                <div class="accordion-body">
                                    <textarea style="width: 40rem; margin-left: -3.5%" name="comment" class="form-control" rows="3" v-model="comment" placeholder="Комментарий"></textarea>
                                </div>
                                <input type="submit" name='action' value="Пожаловаться" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-triangle-exclamation"></i>

                            </div></div>
                        </div>{% endif %}
                    </div>


                </div>

                </div>
            </div>
        </div>

    </div>

</section>
<br>
<article>
    <div class="container-fluid" style="background-color: #FFFDF6">
        <div class="row">
            <h2 style="margin-left: 650px"><b>Комментарии</b></h2>
            <div class="col-lg-8 col-md-10 mx
            -auto comment">



 {% for i in comments %}
              <ul class="commentList" style="margin-left: 15rem">
                <li>
                    <div class="commentText" >
                      <p>{{ i.text }}</p>
                      <span class="date sub-text">{{ i.username }}</span>
                      <hr>
                    </div>
                </li>
              </ul>
                 {% endfor %}
            </div>
          </div>
        <textarea style="width: 40rem; margin-left: 15rem" name="com_text" class="form-control" rows="3" v-model="comment" placeholder="Комментарий"></textarea>
        <input type="submit" name='action' value="Прокомментировать" class="btn btn-sm btn-outline-secondary" style="margin-left:15rem; margin-top: 1rem; margin-bottom: 1rem">

    </div>
</article>
</form>
{%include "footer.html"%}
