{% load static %}
{% load humanize %}
{% include "header.html" %}
<br>
<section class="description">

    <div class="echo">
         {% if messages %}
<ul class="messages">
    <div class="row">
        <div class="col col-lg-12 col-md-8 mx-auto">
            {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="al-msg alert alert-danger mb-2 mt-2">
                        <p class="mb-0">{{ message }}</p>
                    </div>
            {% else %}
            <div class="al msg success success-danger mb-2 mt-2">
                        <p class="mb-0">{{ message }}</p>
                    </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</ul>
{% endif %}
      <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2" style="margin-top: 3rem">
        <div class="col">

        <div class="card shadow" style="width: 50rem; margin-left: 7rem; height: 53">

            <!--КАРУСЕЛЬ-->
    {% include "index_handlers/card_components/carousel.html" %}

            <div class="card-body obj">
              <h4 class="card-title"><b>Описание: </b></h4>
              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; max-width: 100px;">{{ item.description }} </font></font></p>
            </div>
            <div class="osn-c">
            <div class="container">
                <div class="card" style="display: flex; flex-direction: row; justify-content: flex-start">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.total_surface }} м²</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Общая площадь </h6>
                    </div>
                    {% if item.floor %}
                    <div class="card-body">
                        <h5 class="card-title">{{item.floor}}</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Этаж</h6>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.price|intcomma }} р.</h5>
                        <h6 class="card-subtitle" style="vertical-align: inherit">Стоимость</h6>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

</section>

<br>

<section class="table-descript">
    <div class="echo">
        <div class="container">
            <div class="card" style="width: 50rem; margin-left: 7rem">

                <!--ОБЩАЯ ИНФОРМАЦИЯ-->
               {% include "index_handlers/card_components/total_info.html" %}

            </div>
        </div>
    </div>

</section>

<br>

<section class="table-descript-2">
    <div class="echo">
        <div class="container">
            <div class="card" style="width: 50rem; margin-left: 7rem">

                <!--ПОДРОБНАЯ ИНФОРМАЦИЯ-->
               {% include "index_handlers/card_components/detailed_info.html" %}

                </div>

                </div>
            </div>
        </div>

    </div>

</section>
<br>
                <!--ЗАМЕТКИ ПОЛЬЗОВАТЕЛЯ-->
               {% include "index_handlers/card_components/comments.html" %}
</form>


{%include "footer.html"%}
