<div class="floor-c mb-3" data-select="#sampleSelect" data-option="com" hidden="until-found">
                            <label class="form-label">Этаж</label>
                            {{ postForm.com_floor }}
                        </div>
                        <div class="floor-c mb-3" data-select="#sampleSelect" data-option="flat" hidden="until-found">
                            <label class="form-label">Этаж</label>
                            {{ postForm.flat_floor }}
                        </div>