 <div class="a-l-c mb-3" data-select="#sampleSelect" data-option="flat" hidden="until-found">
                            <label class="form-label">Жилая площадь</label>
                             {{ postForm.flat_livin_surface }}
                        </div>
                        <div class="a-l-c mb-3" data-select="#sampleSelect" data-option="house" hidden="until-found">
                            <label class="form-label">Жилая площадь</label>
                             {{ postForm.house_livin_surface }}
                        </div>