<div class="phone-c mb-3" data-select="#sampleSelect2" data-option="buy" hidden="until-found">
                            <label class="form-label">Стоимость (р.)</label>
                            {{ postForm.buy_price }}
                        </div>
                        <div class="phone-c mb-3" data-select="#sampleSelect2" data-option="sell" hidden="until-found">
                            <label class="form-label">Стоимость (р.)</label>
                            {{ postForm.sell_price }}
                        </div>
                        <div class="phone-c mb-3" data-select="#sampleSelect2" data-option="take" hidden="until-found">
                            <label class="form-label">Стоимость (р/месяц)</label>
                            {{ postForm.take_price }}
                        </div>
                        <div class="phone-c mb-3" data-select="#sampleSelect2" data-option="rent" hidden="until-found">
                            <label class="form-label">Стоимость (р/месяц)</label>
                            {{ postForm.rent_price }}
                        </div>