<div class="floor-al-c mb-3" data-select="#sampleSelect" data-option="flat" hidden="until-found">
                            <label class="form-label">Этажность дома</label>
                            {{ postForm.flat_total_floor }}
                        </div>
                        <div class="floor-al-c mb-3" data-select="#sampleSelect" data-option="house" hidden="until-found">
                            <label class="form-label">Этажей всего</label>
                            {{ postForm.house_total_floor }}
                        </div>
                        <div class="floor-al-c mb-3" data-select="#sampleSelect" data-option="com" hidden="until-found">
                            <label class="form-label">Этажей всего</label>
                            {{ postForm.com_total_floor }}

                        </div>