 <div class="house-mat-c mb-3" data-select="#sampleSelect" data-option="house" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.house_material }}
                        </div>
                        <div class="g-mat-c mb-3" data-select="#sampleSelect" data-option="garage" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.garage_material }}
                        </div>
                        <div class="com-mat-c mb-3" data-select="#sampleSelect" data-option="com" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.com_material }}
                        </div>
                        <div class="f-mat-c mb-3" data-select="#sampleSelect" data-option="flat" hidden="until-found">
                            <label class="form-label">Материалы</label>
                            {{ postForm.flat_material }}
                        </div>