{% load custom_filter %}
<div class="osnov">
                    {% if not i.item.no_pictures %}
<div id="carouselExampleIndicators{{i.item.id}}" class="carousel slide" data-bs-touch="false" data-bs-interval="false"->


            <div style="max-height: 200px" class="carousel-inner">
                {% for j in i.item.id|imagefilter %}
                  {% if j.active %}
                    <div class="carousel-item active">
                        <img src="{{ j.image.url }}" class="object-img img-thumbnail d-block w-100" alt="photo" >
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <img src="{{ j.image.url }}"  class="object-img img-thumbnail d-block w-100" alt="photo">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>


            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{i.item.id}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{i.item.id}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
                     </div>{% endif %}</div>