
<div class="input-group form-group mt-5 mx-auto searchId"style="width: 905px">

    <div class="dropdown">
        <p style="font-size: 15px; text-align: center;">Тип объявления</p>
        {{ item_filter.form.item_type }}

    </div>
    <div class="dropdown">
        <p style="font-size: 15px; text-align: center;">Регион</p>
        {{ item_filter.form.region }}

    </div>

    <div class="dropdown">
        <p style="font-size: 15px; text-align: center;"><b>м²</b> Площадь</p>
                <a class="btn dropdown-toggle fltr" href="#" role="button" id="filtrDrop-stoim-metr" data-bs-toggle="dropdown" aria-expanded="false" style="height:57.6px; width: 152px; padding: 14.5px; color-text: #000; background-color: #fff; border-right-color: #ced4da">

                </a>
                    <ul class="dropdown-menu filtrDrop-stoim-metr" aria-labelledby="filtrDrop-stoim-metr">
                       <div class="area-metr">
                            <li class="list-item">
                                <div class="input-group">
                                    {{ item_filter.form.min_total_surface }}
                                    <span id="basic-addon1" class="input-group-text" style="background-color: #fff;">м²</span>
                                </div>
                            </li>
                            <li class="list-item">
                                <div class="input-group">
                                    {{ item_filter.form.max_total_surface }}
                                    <span id="basic-addon2" class="input-group-text" style="background-color: #fff">м²</span>
                                </div>
                            </li>
                       </div>
                    </ul>
    </div>
   <div class="dropdown">
       <p style="font-size: 15px; text-align: center;"><i class="fa-solid fa-ruble-sign"></i> Стоимость</p>
        <a class="btn dropdown-toggle fltr" href="#" role="button" id="filtrDrop3" data-bs-toggle="dropdown" aria-expanded="false" style="height:57.6px; width: 152px; padding: 14.5px; color-text: #000; background-color: #fff; border-right-color: #ced4da">
        </a>
        <ul class="dropdown-menu filtrDrop-stoim-metr" aria-labelledby="filtrDrop-stoim-metr">
            <div class="stoimost">
                <li class="list-item">
                    <div class="input-group">
                        {{ item_filter.form.min_price }}
                        <span id="stoim1" class="input-group-text" style="background-color: #fff;"><i class="fa-solid fa-ruble-sign"></i></span>
                    </div>
                </li>
                <li class="list-item">
                    <div class="input-group">
                        {{ item_filter.form.max_price }}
                        <span id="stoim2" class="input-group-text" style="background-color: #fff"><i class="fa-solid fa-ruble-sign"></i></span>
                    </div>
                </li>
            </div>
        </ul>
   </div><div class="dropdown">
            <p style="font-size: 15px; text-align: center;">Поиск по номеру</p>

    {{ item_filter.form.phone_number }}</div>
    <button class="btn search-submit" type="submit" style="background-color: #fff; border-left-color: #ced4da">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>
