
<div class="shadow-text">

<div class="row" style="margin-bottom: 75px; height: 190px; width: 955px; padding: 2%;">
    <div class="col">

                    <!--КАРУСЕЛЬ-->
    {% include "index_handlers/index_card_components/index_carousel.html" %}

    </div>

    <div class="col">

        <!--Локация/Краткое описание-->
        {% include "index_handlers/index_card_components/location.html" %}

    </div>

    <div class="col">

        <!--Общая инфа-->
        {% include "index_handlers/index_card_components/item_data.html" %}

    </div>

    <div class="col">

        <div class="row">
        <div class="col">

                <!--Детали-->
                {% include "index_handlers/index_card_components/item_details.html" %}

        </div>
        <div class="col">

                <!--Добавить/Удалить-->
                {% include "index_handlers/index_card_components/add-delete.html" %}

        </div>
        </div>

    </div>
</div>
</div>
